/* line 8, ../scss/style003.scss */
.promo {
  border: 1px solid #e5e5e5;
  display: inline-flex;
  flex-direction: column;
  max-width: 280px;
  min-height: 350px;
  padding: 20px;
  vertical-align: top;
}

/* line 17, ../scss/style003.scss */
.promo--start {
  justify-content: start;
}

/* line 20, ../scss/style003.scss */
.promo--center {
  justify-content: center;
}

/* line 24, ../scss/style003.scss */
.promo--end {
  justify-content: flex-end;
}

/* line 28, ../scss/style003.scss */
.promo-title {
  margin: 0;
}

/* line 32, ../scss/style003.scss */
.promo-description {
  margin-top: 8px;
}
