/* line 6, ../scss/style005.scss */
.media {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

/* line 14, ../scss/style005.scss */
.media + .media {
  margin-top: 20px;
}

/* line 18, ../scss/style005.scss */
.media-content {
  padding: 20px;
}

/* line 22, ../scss/style005.scss */
.media-img-container {
  padding: 20px 20px 0 20px;
}

/* line 26, ../scss/style005.scss */
.media-img-item {
  width: 100%;
}

/* line 30, ../scss/style005.scss */
.media-meta,
.media-title,
.media-description {
  margin: 0;
  padding: 0;
}

/* line 37, ../scss/style005.scss */
.media-description {
  margin-top: 4px;
}

/* line 41, ../scss/style005.scss */
.media-meta {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* line 47, ../scss/style005.scss */
.media-meta-item {
  list-style: none;
  margin: 0;
}

/* line 52, ../scss/style005.scss */
.media-meta-item + .media-meta-item {
  margin-left: 20px;
}

/* line 56, ../scss/style005.scss */
.media-meta-label {
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  /* line 63, ../scss/style005.scss */
  .media {
    flex-wrap: nowrap;
  }

  /* line 67, ../scss/style005.scss */
  .media:nth-child(even) .media-img {
    order: 1;
  }

  /* line 71, ../scss/style005.scss */
  .media-img-container {
    padding: 0;
  }

  /* line 75, ../scss/style005.scss */
  .media-img-item {
    width: 200px;
  }
}
@media screen and (min-width: 600px) {
  /* line 83, ../scss/style005.scss */
  .media-img-item {
    width: 300px;
  }
}
